.gridProducts{
    display: grid;
    grid-template-areas: 
      "headline"
      "nameInput"
      "priceInput"
      "BCreate"
      "ProductList"
      ;
    grid-template-rows: 50px 40px 50px 40px auto;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-items: center;
    position: relative;
    margin-top: 20px;
    height: 100%;
  }

  #headline{
    grid-area: headline;
  }

  #nameInput{
    grid-area: nameInput;
    max-width: 600px;
  }

  #priceInput{
    grid-area: priceInput;
    max-width: 100px;
  }

  #BCreate{
    grid-area: BCreate;
  }
  
  #ProductList{
    margin-top: 20px;
    grid-area: ProductList;
    width: 100%;
    height: 100%;
    max-width: 600px;
  }

  .save{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_save{ margin-top:-50px;
    }


      // Color
$gray: #999999;
$dark-gray: #333333;
$blue: #0086e4;

$primary-color: $blue;
$border-color: #dddddd;

// Font
$primary-font: 'Lato', sans-serif;

// Input
$input-height: 40px;

  
  
    .input-group {
      margin-bottom: 20px;
      position: relative;
      &__input {
          width: 100%;
          height: $input-height;
          border: 1px solid $border-color;
          border-radius: 3px;
          padding: 0 10px;
          // there must a required prop in input
          // &:valid,
          // need to add placeholder
          &:not(:placeholder-shown),
          &:focus {
              + label {
                  background-color: white;
                  line-height: 10px;
                  opacity: 1;
                  font-size: 10px;
                  top: -5px;
              }
          }
          &:focus {
              outline: none;
              border: 1px solid $primary-color;
              + label {
                  color: $primary-color;
              }
          }
      }
  }


  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: 100px;
    cursor:pointer;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    margin-top: 20px;
    padding: 2px 16px;
    width: 100%;
  }