<form  [formGroup]="formGroup">

  <h2 mat-dialog-title id="MainLabel">Регистрация</h2>
  
  <mat-dialog-content class="grid">
  <label id="NameLabel">Имя</label>
  
  <mat-form-field  appearance="outline">
      <mat-label>Имя</mat-label>
      <input matInput formControlName="name" id="NameInput">
      <mat-error>
        Это обязательное поле
      </mat-error>
    </mat-form-field>
  
    <label id="SecondNameLabel">Фамилия</label>
  
  <mat-form-field appearance="outline">
      <mat-label>Фамилия</mat-label>
      <input matInput formControlName="secondname" id="SecondNameInput">
      <mat-error>
        Это обязательное поле
      </mat-error>
    </mat-form-field>
  
        <label id="MailLabel">Почта</label>
  
      <mat-form-field appearance="outline">
          <mat-label>Почта</mat-label>
          <input type="email" matInput formControlName="mail" placeholder="Ex. pat@example.com" id="MailInput">
          <mat-error *ngIf="formGroup.hasError('email','mail') && !formGroup.hasError('required','mail')">
            Неверная почта
          </mat-error>
          <mat-error *ngIf="formGroup.hasError('required','mail')">
            Это обязательное поле
          </mat-error>
        </mat-form-field>
  
        <label id="PassLabel">Пароль</label>
  
      <mat-form-field appearance="outline">
          <mat-label>Придумайте пароль</mat-label>
          <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="pass" id="PassInput">
          <mat-icon matSuffix (click)="togglePasswordVisibility()">
              {{showPassword?'visibility_off':'visibility'}}
          </mat-icon>
          <mat-error>Это обязательное поле</mat-error>
      </mat-form-field>
  
      <label id="PassLabel2">Проверка пароля</label>
  
      <mat-form-field appearance="outline">
          <mat-label>Повторите пароль</mat-label>
          <input matInput [type]="show2Password ? 'text' : 'password'" formControlName="secondpass" id="PassInput2">
          <mat-icon matSuffix (click)="toggle2PasswordVisibility()">
              {{show2Password?'visibility_off':'visibility'}}
          </mat-icon>
          <mat-error>Это обязательное поле</mat-error>
      </mat-form-field>
  
      <button id="Reg" mat-raised-button color="primary" (click)="reg()"
      [disabled]="formGroup.invalid || !!formError">Зарегистрироваться</button>
      <mat-error *ngIf="formError">{{formError}}</mat-error>
  
    </mat-dialog-content>
  </form>