<body>
    <section class="page_404">
        <div class="container">
            <div class="row">	
            <div class="col-sm-12 ">
            <div class="col-sm-10 col-sm-offset-1  text-center">
            <div class="four_zero_four_bg">
                <h1 class="text-center ">404</h1>
            
            </div>
            
            <div class="contant_box_404">
            <h3 class="h2">
            Похоже что вы потерялись.
            </h3>
    
            <p>Страница, которую вы запрашиваете не существует!</p>
            <p>Возможно она устарела, была удалена, или на данный момент недоступна.</p>
            
            <button mat-button routerLink="" class="link_404">На главную страницу</button>
        </div>
            </div>
            </div>
            </div>
        </div>
    </section>
    
    </body>
    <router-outlet></router-outlet>