.gridProducts{
    display: grid;
    grid-template-areas: 
      "headline"
      "nameInput"
      "ProductList"
      ;
    grid-template-rows: 50px 40px auto;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-items: center;
    position: relative;
    margin-top: 20px;
    height: 100%;
  }

  #headline{
    grid-area: headline;
  }

  #nameInput{
    grid-area: nameInput;
    max-width: 600px;
  }

  #ProductList{
    margin-top: 20px;
    grid-area: ProductList;
    width: 100%;
    height: 100%;
    margin-left: 20%;
  }

  .save{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_save{ margin-top:-50px;
    }


      // Color
$gray: #999999;
$dark-gray: #333333;
$blue: #0086e4;

$primary-color: $blue;
$border-color: #dddddd;

// Font
$primary-font: 'Lato', sans-serif;

// Input
$input-height: 40px;

  
  
    .input-group {
      margin-bottom: 20px;
      position: relative;
      &__input {
          width: 100%;
          height: $input-height;
          border: 1px solid $border-color;
          border-radius: 3px;
          padding: 0 10px;
          // there must a required prop in input
          // &:valid,
          // need to add placeholder
          &:not(:placeholder-shown),
          &:focus {
              + label {
                  background-color: white;
                  line-height: 10px;
                  opacity: 1;
                  font-size: 10px;
                  top: -5px;
              }
          }
          &:focus {
              outline: none;
              border: 1px solid $primary-color;
              + label {
                  color: $primary-color;
              }
          }
      }
  }


  $bg: #FEF5DF;

  body {
    background-color: $bg;
  }
  
  .container {
    max-width: 450px;
    max-height: 450px;
    
    
    background-color: black;
    cursor: pointer;
    
    -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
    }
  
  .overlay {
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    
    background: rgba(77, 77, 77, .9);
    color: $bg;
    opacity: 0;
    transition: all 0.5s;
    
    font-family: 'Playfair Display', serif;
  }
  
  
  .items {
    padding-left: 20px;
    padding-right: 10px;
    letter-spacing: 3px;
  }
  
  .head {
    font-size: 30px;
    line-height: 40px;
    
    transform: translateY(40px);
    transition: all 0.7s;
    hr {
      display: block;
      width: 0;
      
      border: none;
      border-bottom: solid 2px $bg;
      
      position: absolute;
      bottom: 0; left:20px;
      
      transition: all .5s;
    }
  }
  
  .price {
    font-size: 22px;
    line-height: 10px;
    font-weight: bold;  
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.7s;
    .old {
      text-decoration: line-through;
      color: lighten(rgb(77, 77, 77),40%);
    }
    .about{
      line-height: 1.2;
      letter-spacing: 0px;
      font-size: 14px;
      font-weight: 100;
    }
  }
  
  .cart {
    font-size: 12px;
    opacity: 0;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    transform: translateY(40px);
    transition: all 0.7s;
    i {
      font-size: 16px;
    }
    span {
      margin-left: 10px;
    }
  }
  
  .container:hover .overlay {
    opacity: 1;
    & .head {
      transform: translateY(0px);
    }
    
    & hr {
      width: 75px;
      transition-delay: 0.4s;
    }
    
    & .price {
      transform: translateY(0px);
      transition-delay: 0.3s;
      opacity: 1;
    }
    
    & .cart {
      transform: translateY(0px);
      transition-delay: 0.6s;
      opacity: 1;
    }
  }


  * {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    max-width: 100vw;
}

.item {
    margin: 15px;
    border: 1px solid #000;

}


.addcart:hover{
  transition: all 0.15s;
  color: #999999;
  padding: 5px;
}


@media ( max-width: 1000px ), ( max-height: 1000px ) {
    .row { flex-direction: row; }
    .item { flex-basis: 100%; }
    .item:nth-child(1) { order: -2; }    
    .item:nth-child(3) { order: -1; }
}